@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: auto;
  /*required for percentage heights to work margin: 0; */
  padding: 0;
  margin: 0;
  /*color: aliceblue;*/
}

body {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  /*border:2px solid darkred;*/
}

/* Links */
a {
  /*color:black;*/
  text-decoration: none;

  &:hover {
    /*text-decoration: underline;*/
  }
}
